.white-section {
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding: 60px 0;
}

.white-section h1 {
    font-weight: normal;
    line-height: 2.0rem;
}

.white-section p {
    color: rgb(136, 136, 136);
    font-size: 0.9rem;
}

.white-section button {
    margin-top: 20px;
    background: rgb(27, 151, 114);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 30px;
    font-weight: bolder;
}