@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gelasio&family=Lato&family=Noto+Sans+JP&family=Open+Sans&family=PT+Sans&family=PT+Serif&family=Poppins&family=Roboto:wght@100;400&family=Ubuntu&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Gelasio', serif;
    font-size: 16px;
}

a, button:hover {
    cursor: pointer;
}

