@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');
*, *::after, *::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
