@media all and (max-width: 600px) {
    .w3-right, #about>article:first-child {
        display: none;
    }

    #about>article:nth-child(2), .w3-col.l6 {
        width: 100%;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
    }
}