footer {
    width: 80%;
    max-width: 1400px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo p {
    padding-left: 15px;
    opacity: 50%;
    font-size: 0.7rem;
}

footer img {
    width: 100px;
}

.footer-nav {
    display: flex;
}

.footer-nav a {
    padding: 5px;
    color: rgb(0, 0, 0);
    opacity: 70%;
}
