@media (max-width: 800px) {
    header .menu,
    header .nav-options,
    .trainings,
    .instructors-pic {
        flex-direction: column;
        align-items: center;

    }

    header .menu,
    header .nav-options {
        padding: 5px 0;
    }

    .trainings>div {
        width: 60%;
    }

    .classes>ul>li {
        width: 50%;
    }
    .getInTouch,
    .wrapper {
        flex-wrap: wrap;
    }
    .getInTouch .form {
        flex: 1 1 100%;
    }

    .wrapper .about {
        flex: 1 1 100%;
    }
}